<app-loading *ngIf="isLoading"></app-loading>
<div class="page-container flex-center">
  <div class="filters" *ngIf="form">
    <cdk-accordion class="accordion">
      <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item" role="button" tabindex="0"
        [attr.id]="'accordion-header-0'" [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-0'">
        <div class="accordion-item-header" (click)="accordionItem.toggle()">
          <div class="header-filters flex-center">
            <i class="fa-solid fa-handshake-simple"></i>
            <h1>Buscar Empréstimos</h1>
          </div>
          <span class="accordion-item-description">
            <i *ngIf="!accordionItem.expanded" class="fas fa-plus"></i>
            <i *ngIf="accordionItem.expanded" class="fas fa-minus"></i>
          </span>
        </div>
        <div class="accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-0'" [attr.aria-labelledby]="'accordion-header-0'">
          <div class="inputs flex-start" [formGroup]="form" (keyup.enter)="submit(form?.value)">
            <mat-form-field appearance="fill">
              <mat-label>Funcionário</mat-label>
              <input matInput formControlName="employeeName">
            </mat-form-field>
            <div class="date-period">
              <mat-form-field appearance="fill">
                <mat-label>Período</mat-label>
                <input matInput formControlName="startDate" type="date"
                  [readonly]="form.get('dateFilterType')?.value == returnedType.Unknown">
              </mat-form-field>
              <label>até</label>
              <mat-form-field appearance="fill">
                <mat-label>Período</mat-label>
                <input matInput formControlName="endDate" type="date"
                  [readonly]="form.get('dateFilterType')?.value == returnedType.Unknown">
              </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Tipo Da Data </mat-label>
              <mat-select formControlName="dateFilterType">
                <mat-option [value]="returnedType.Unknown">
                  Nenhuma
                </mat-option>
                <mat-option [value]="dateType.LoanDate">
                  Por Data de Empréstimo
                </mat-option>
                <mat-option [value]="dateType.DevolutionDate">
                  Por Data de Devolução
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select formControlName="returnedFilterType">
                <mat-option [value]="returnedType.Unknown">
                  Todos
                </mat-option>
                <mat-option [value]="returnedType.Returned">
                  Devolvido
                </mat-option>
                <mat-option [value]="returnedType.NotReturned">
                  Não Devolvido
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button class="default-button" (click)="submit(form?.value)">Pesquisar</button>
          </div>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
  <div class="content flex-center-baseline">
    <div class="bg-new flex-end">
      <button mat-raised-button class="default-button" (click)="openLoanDialog()">Adicionar Empréstimo</button>
    </div>
    <div class="bg-table flex-center">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef> Funcionário </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
        </ng-container>
        <ng-container matColumnDef="loanDate">
          <th mat-header-cell *matHeaderCellDef> Data do Empréstimo </th>
          <td mat-cell *matCellDef="let element"> {{element.loanDate | brazilFullDate}} </td>
        </ng-container>
        <ng-container matColumnDef="devolutionDate">
          <th mat-header-cell *matHeaderCellDef> Data da Devolução </th>
          <td mat-cell *matCellDef="let element"> {{element.devolutionDate | brazilFullDate}} </td>
        </ng-container>
        <ng-container matColumnDef="returned">
          <th mat-header-cell *matHeaderCellDef> Devolvido? </th>
          <td mat-cell *matCellDef="let element">{{element.returned == true ? 'Sim' : 'Não'}}</td>
        </ng-container>
        <ng-container matColumnDef="devolutionBtn">
          <th mat-header-cell *matHeaderCellDef> Devolução </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!element.returned">
              <button mat-raised-button class="default-button"
                (click)="openDevolutionDialog(element.id)">Devolver</button>
            </ng-container>
            <ng-container *ngIf="element.returned">
              <button mat-raised-button class="default-button disabled">Devolver</button>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="generateDocument">
          <th mat-header-cell *matHeaderCellDef> Termo </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button class="default-button"
              (click)="downloadDocument(element.id ?? '', docType.LoanContract)">Gerar Termo</button> </td>
        </ng-container>
        <ng-container matColumnDef="expanded">
          <th mat-header-cell *matHeaderCellDef> Equipamento </th>
          <td mat-cell *matCellDef="let element"> <i class="fas fa-expand-alt"></i> </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail flex-start-baseline"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="info right-side flex-start">
                <h2>Equipamentos:</h2>
                <div class="element-diagram flex-start" *ngFor="let item of element.equipmentName">
                  <div class="element">
                    <span>{{item}}</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      </table>
    </div>
  </div>
</div>