<app-loading *ngIf="isLoading"></app-loading>
<div mat-dialog-content class="dialog-content grid-3-cl">
  <mat-form-field class="default-form-field blocked-field" appearance="fill">
    <mat-label>Funcionário</mat-label>
    <input matInput [(ngModel)]="employeeName" readonly>
  </mat-form-field>
  <mat-form-field class="default-form-field blocked-field" appearance="fill">
    <mat-label>Data de Cadastro</mat-label>
    <input matInput [ngxMatDatetimePicker]="pickerCreation" [(ngModel)]="creationDate" required>
    <mat-datepicker-toggle matSuffix [for]="$any(pickerCreation)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerCreation>
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field class="default-form-field" appearance="fill">
    <mat-label>Data de Devolução</mat-label>
    <input matInput [ngxMatDatetimePicker]="pickerDevolution" [(ngModel)]="devolutionDate" required>
    <mat-datepicker-toggle matSuffix [for]="$any(pickerDevolution)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #pickerDevolution>
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <div class="equipments-area">
    <h2>Equipamentos</h2>
    <div class="line flex-between" *ngFor="let item of loanDetails?.details?.equipments; let i = index">
      <mat-form-field class="default-form-field flex-start" appearance="fill">
        <mat-label>Equipamento</mat-label>
        <input matInput [(ngModel)]="item.name" readonly>
      </mat-form-field>
      <mat-form-field class="default-form-field default-textarea flex-start" appearance="fill">
        <mat-label>Avarias</mat-label>
        <textarea [(ngModel)]="item.damageNote" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="bg-buttons flex-end">
  <button class="close-button" mat-button (click)="closeDialog()">Sair</button>
  <button class="save-button" mat-button cdkFocusInitial (click)="onSubmit()">Salvar</button>
</div>
