@import "../../../../styles/edit.scss";

.dialog-container {
  .bg-images {
    .title {
      padding-top: 5px;
      h1 {
        margin-right: 10px;
      }
      .add-new-btn {
        height: 40px;
        margin-bottom: 16px;
        width: 170px;
        span {
          color: #fff;
        }
      }
    }
    .title-border {
      border-top: 1px solid var(--border-order-color-darker);
    }
    .images {
      .image {
        width: 100%;
        height: 185px;
        overflow: hidden;
        margin-bottom: 10px;
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          border-radius: 10px;
          cursor: pointer;
        }
        a {
          height: 30px;
          width: 30px;
          background: var(--danger);
          border-radius: 20px;
          color: #fff;
        }
      }
    }
  }
  .default-bg-textarea {
    width: 100%;
    .default-textarea {
      width: 49%;
    }
  }
  .history {
    width: 100%;
    .accordion {
      display: block;
      width: 100%;
      .accordion-item {
        display: block;
        border: solid 1px var(--page-title-border-color);
        border-radius: 10px;
        padding: 16px;
        + .accordion-item {
          border-top: none;
        }
        .accordion-item-header {
          display: flex;
          align-content: center;
          justify-content: space-between;
          &:hover {
            cursor: pointer;
          }
        }
        .header-filters {
          color: var(--text-main-color);
          i {
            font-size: 20px;
            margin-right: 10px;
          }
          h1 {
            margin: 0;
          }
        }
        .accordion-item-body {
          padding-top: 20px;
          .table {
            .title {
              font-size: 17px;
              font-weight: 500;
              margin-bottom: 10px;
            }
            span {
              border: none;
              margin-bottom: 5px;
            }
            .right {
              grid-column: -1/-3;
            }
            hr {
              grid-column: 1/-1;
              margin: 0;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  .default-form-field {
    grid-column: 1 / -1;
  }
}
